.container {
  display: flex;
  justify-content: center;
}

.logo-container {
  width: 100%;
  padding: 30px;
  background: #252936;
  border-radius: 15px;
  color: white;
  margin-top: 25px;
  text-align: center;
  display: flex;
  float: left;
  margin: 40px;
  margin-bottom: 0;
  place-content: center;
}

.text-title {
  font-size: 34px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
