.header-wrapper {
  background: #252936;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin: 40px;
}

.text-title {
  font-size: 34px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
