@font-face {
  font-family: "Baloo Tammudu 2";
  src: local("Baloo Tammudu 2"),
    url(./fonts/BalooTammudu2-Regular.ttf) format("opentype");
}

body {
  font-family: "Baloo Tammudu 2";
  font-weight: bold;
  background: #1f1d2b;
  margin: 0;
  font-family: -apple-system, "Baloo Tammudu 2", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Baloo Tammudu 2" !important;
  background-color: #252936;
  border-radius: 15px;
  width: 70px;
  color: white;
  height: 48px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding-top: 8px;
}

::placeholder {
  font-family: -apple-system, "Baloo Tammudu 2", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  opacity: 1;
}
